<!DOCTYPE html>
<html>
  <head>
    <title> <p>Welcome to <%= title %> Page!</p></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
  
    <p>Welcome to <%= title %> Page!</p>
    <h3> The following mesaage is saved; </h3>
    <p><%= body.fullname %>, 
   </br><%= body.type %>,
    </br>and <%= body.message %></p>
    
     <h1><%= title %></h1>
  </body>
</html>
